.custom-footer .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.custom-footer .text-end {
    flex: 1;
    /* Cho phép phần tử bên phải chiếm không gian */
}

/**/




.custom-footer {
    padding: 0;
    /* border-top: 1px solid #e9ecef; */
}


.custom-footer .row {
    margin: 0px;
}








.custom-footer h5 {
    margin-bottom: 15px;
    /* Khoảng cách giữa tiêu đề và nội dung */
}

.custom-footer p {
    margin-bottom: 5px;
    /* Khoảng cách giữa các đoạn văn */
}


.custom-footer .col-md-2 {
    padding: 0px 30px;
}


.custom-footer .text-center h6 {
    margin-top: 20px;
}