.change-pass-container .head {
    margin-top: 2rem;
}

.change-pass-container .change-pass-card {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.change-pass-container .change-pass-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 240, 240);
}

.custom-change-pass .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.otp-input {
    background-color: rgb(228, 228, 228);
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 7px;
    caret-color: rgb(127, 129, 255);
    color: rgb(44, 44, 44);
    outline: none;
    font-weight: 600;
    font-size: 20px;
}

.otp-input:focus,
.otp-input:valid {
    background-color: rgb(198, 232, 255, 0.5);
    transition-duration: .3s;
}

.modal-profile-custom .modal-content .modal-footer .custom-button-verified {
    background-color: #2e2e2e;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.timer-box {
    display: flex;
    align-items: center;
}

.timer-digit {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin: 0 5px;
}

.timer-separator {
    margin: 0 5px;
}