.hotel-policies-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hotel-policies-container {
    border-radius: 5px;
    background-color: #fffbfb;
    display: flex;
    margin-top: 25px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 22px;
}

@media (max-width: 991px) {
    .hotel-policies-container {
        max-width: 100%;
        padding-left: 20px;
    }
}

.policies-grid-wrapper {
    width: 509px;
    max-width: 100%;
}

.policies-columns-wrapper {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .policies-columns-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.policies-left-column {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    width: 56%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .policies-left-column {
        width: 100%;
    }
}

.policies-content-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

@media (max-width: 991px) {
    .policies-content-wrapper {
        margin-top: 40px;
    }
}

.policies-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    align-self: flex-start;
}

.policies-list-wrapper {
    display: flex;
    margin-top: 12px;
    width: 100%;
    padding-left: 25px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

@media (max-width: 991px) {
    .policies-list-wrapper {
        padding-left: 20px;
    }
}

.policy-item-wrapper {
    display: flex;
    gap: 9px;
    margin-top: 5px;
}

.policy-icon {
    aspect-ratio: 1.73;
    object-fit: contain;
    object-position: center;
    width: 26px;
    align-self: flex-start;
    margin-top: 8px;
}

.policy-description {
    flex-grow: 1;
}

.policies-right-column {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    width: 44%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .policies-right-column {
        width: 100%;
        margin-left: 0;
    }
}