.hotel-info-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .hotel-info-content-container {
        max-width: 100%;
        margin-top: 24px;
    }
}