.admin__list-item {
    gap: 10px;
    border-bottom: 1px solid rgb(187, 173, 173);
    padding-bottom: 8px;
    transition: background-color 0.6s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}
.admin__list {
    overflow: hidden;
    height: 45vh;
}

.admin__list-container {
    max-height: 48vh;
    overflow: auto;
}

.admin__list-container::-webkit-scrollbar {
    width: 6px;
    height: 3px; 
  }
  
  .admin__list-container::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 10px;
  }
  
  .admin__list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
  }
  
  .admin__list-container::-webkit-scrollbar-thumb:hover {
    background: red;;
  }

.admin__list-data {
   flex: 0.5;
}

.admin__list-item-img {
    display: flex;
}

.admin__list-item-img img{
    margin: auto;
    width: 80px;
    height: 50px;
    object-fit: cover;
}
.admin__list-item-info-title {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Roboto';
}
.admin__list-item-info-des {
    font-size: 0.9rem;
    font-weight: lighter;
    text-wrap: wrap;
}
.admin__list-item-operation {
    display: flex;
}
.admin__list-item-operation-container {
    margin: auto;
    justify-content: space-around;
    display: flex;
}