.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 10px;
  border: 1px solid gray;
  color: black;
}

.action-button:hover {
  background-color: #27648c;
  border: none;
  color: white;
}

.location-display {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.location-icon {
  width: 24px;
  height: 24px;
  margin-top: 14px;
}

.location-text {
  display: flex;
  flex-direction: column;
}

.city,
.station,
.place {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.extra-info {
  font-size: 10px;
  color: #999;
  margin-top: 4px;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.date {
  margin-top: 6px;
}

.transportation-card {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 600px;
}

.active {
  transform: scale(1.05);
  opacity: 1;
  /* Card được click sẽ nổi bật */
}

.inactive {
  opacity: 0.5;
  /* Các card không được click sẽ mờ đi */
}

.transport-image {
  aspect-ratio: 1.33;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.transport-details {
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 17px 18px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.transport-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-info {
  display: flex;
  gap: 12px;
}

.logo {
  width: 60px;
}

.logodetail {
  width: 20%;
}

.company-name {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.code {
  color: #999;
  font-size: 10px;
}

.company-logo {
  width: 24px;
  height: 24px;
}

.journey-info {
  display: flex;
  margin-top: 7px;
  gap: 32px;
}

.time-info {
  display: flex;
  flex-direction: column;
  color: #999;
  font-size: 10px;
}

.duration {
  margin: 19px 0;
}

.location-info {
  flex-grow: 1;
}

.route-icons {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.route-icon {
  width: 24px;
  height: 24px;
}

.ticket-detail-image img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.ticket-bus-name {
  margin-top: 5px;
  text-align: center;
}

.tripTicket-info {
  /* border: 2px solid gray; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(208, 208, 208);
  padding: 10px;
}

.tripTicket-info p {
  padding: 0px 0px 0px 10px;
  margin-bottom: 0rem;
}

.tripTicket-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tripTicket-item p {
  margin: 0;
  font-weight: bold;
  flex: 3; /* Chiếm 30% chiều rộng */
  /* text-align: right; Căn chữ về bên phải */
  margin-right: 10px; /* Khoảng cách với h6 */
  color: #555;
}

.tripTicket-item h6 {
  margin: 0;
  flex: 7; /* Chiếm 70% chiều rộng */
  font-size: 16px;
  color: #333;
}

.detail-ticket-color{
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
