.booking-hotel-image-gallery-container {
    display: flex;
    gap: 4px;
    /* Khoảng cách giữa hình ảnh chính và phụ */
    border-radius: 20px;
    /* Bo tròn góc */
    overflow: hidden;
    /* Ẩn các phần thừa */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /* Bóng đổ */
}

.booking-hotel-main-image {
    flex: 0 0 35%;
    /* Chiếm 35% chiều rộng của container */
}

.booking-hotel-secondary-images {
    flex: 0 0 65%;
    /* Chiếm 65% chiều rộng của container */
    display: grid;
    /* Sử dụng grid để bố trí hình ảnh phụ */
    grid-template-columns: repeat(2, 1fr);
    /* 2 cột */
    gap: 4px;
    /* Khoảng cách giữa các hình ảnh phụ */
}

.booking-hotel-gallery-img {
    width: 100%;
    /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
    height: 100%;
    /* Đảm bảo hình ảnh chiếm toàn bộ chiều cao */
    object-fit: cover;
    /* Cắt hình ảnh cho phù hợp với kích thước */
}

@media (max-width: 991px) {
    .booking-hotel-image-gallery-container {
        flex-direction: column;
        /* Chuyển hướng flex thành cột trên màn hình nhỏ */
    }

    .booking-hotel-main-image,
    .booking-hotel-secondary-images {
        flex: 1;
        /* Tất cả các phần tử chiếm chiều rộng */
    }
}