.booking-hotel-amenity-item-container {
    width: 100%;
    /* Chiều rộng của container */
    padding: 10px;
    /* Khoảng cách bên trong */
    background-color: #f8f9fa;
    /* Màu nền của container */
    border-radius: 8px;
    /* Bo tròn góc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Bóng đổ nhẹ */
}

.booking-hotel-amenity-item {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Khoảng cách giữa icon và tên */
}

.booking-hotel-amenity-icon {
    width: 30px;
    /* Chiều rộng icon */
    height: 30px;
    /* Chiều cao icon */
    object-fit: contain;
    /* Đảm bảo hình ảnh không bị biến dạng */
}

.booking-hotel-amenity-name {
    color: #2a2a2e;
    /* Màu chữ */
    font-size: 16px;
    /* Kích thước chữ */
    flex-grow: 1;
    /* Chiếm không gian còn lại */
}