.register-container .title-registration {
  font-size: 40px;
  /* Giảm kích thước chữ, có thể điều chỉnh theo ý thích */
  font-weight: bold;
  /* Đậm chữ */
  color: #333;
  /* Màu chữ */
  margin-bottom: 20px;
  /* Khoảng cách phía dưới */
  text-transform: uppercase;
}

.register-container .register-custom-image {
  width: 100%;
  /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần chứa */
  height: 100vh;
  /* Để giữ tỷ lệ khung hình của ảnh */
  margin-right: 24px;
}

/* Cấu hình cho đường chia */
.register-container .register-divider::before,
.register-container .register-divider::after {
  content: '';
  width: 100px;
  height: 1px;
  /* Độ cao của đường kẻ */
  background-color: #FFFFFF;
  /* Màu của đường kẻ */

}

.register-container .register-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  /* Để đảm bảo divider chiếm hết chiều rộng */
  color: #FFFFFF;
  /* Màu chữ */

}

.register-container .register-divider p {
  margin: 10px;
  /* Đảm bảo không có khoảng cách xung quanh chữ */
  font-size: 14px;
  color: #FFFFFF;
  /* Màu của chữ */
}

.register-container .custom-left-container {
  bottom: 50px;
  /* Điều chỉnh vị trí dọc của container */
}


.register-container .registration-button {
  background-color: #4285F4;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 100%;

}

.register-container .form-control {
  width: 500px;
  height: 40px;

}

.register-container .registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  /* Đảm bảo form không quá rộng */
  margin: 0 auto;
  /* Căn giữa form */
}

.register-container .register-google {
  border: 1px solid #2196F3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.register-container .register-facebook {
  border: 1px solid #2196F3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  background-color: #FFFFFF;
}

/* Hiệu ứng khi hover trên ô input */