.seat-selector-wrapper-container {
    display: flex;
    gap: 20px;
    margin-top: 17px;
}

@media (max-width: 991px) {
    .seat-selector-wrapper {
        flex-direction: column;
    }
}

.floor-section-number-floor {
    flex: 1;
}