.seat-grid-wrapper {
    background: #fffefe;
    border: 2px solid #c8c8c8;
    border-radius: 5px;
    padding: 16px 13px;
    font-family: Roboto, sans-serif;
}

.first-row-container {
    display: flex;
    justify-content: space-between;
}

.floor-info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #595959;
    font-size: 12px;
}

.seat-row-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.seat-button {
    border-radius: 2px;
    background-color: #FFFFFF;
    /* Mặc định là màu trắng */
    color: #595959;
    /* Mặc định cho tất cả trạng thái */
    padding: 11px 4px;
    min-width: 40px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid transparent;
    /* Đặt border mặc định là trong suốt */
}

.seat-button.booked {
    background-color: #D9D9D9;
    color: #595959;
    cursor: not-allowed;
}

.seat-button.selected {
    background-color: #0C7FDA;
    color: #FFFFFF;
}

.seat-button.available {
    border: 1px solid #1891E8;
}

.seat-button.available:hover {
    background-color: #E6F3FF;
}

.seat-button:focus {
    outline: 2px solid #0C7FDA;
    outline-offset: 2px;
}