.action-button {
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  padding: 7px 10px;
  border: 1px solid;
  color: black; 
}
.primary {
  background-color: #f3faff;
  border-color: #47b5ff;
}
.secondary {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}
.action-icon {
  width: 22px;
  height: 20px;
}

.location-display {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.location-icon {
  width: 24px;
  height: 24px;
  margin-top: 14px;
}
.location-text {
  display: flex;
  flex-direction: column;
}
.city,
.station, .place {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.extra-info {
  font-size: 10px;
  color: #999;
  margin-top: 4px;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.date {
  margin-top: 6px;
}

.transportation-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.active {
  transform: scale(1.05);
  opacity: 1; /* Card được click sẽ nổi bật */
}

.inactive {
  opacity: 0.5; /* Các card không được click sẽ mờ đi */
}



.transport-image {
  aspect-ratio: 1.33;
  object-fit: contain;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.transport-details {
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 17px 18px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.transport-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-info {
  display: flex;
  gap: 12px;
}
.logo {
  width: 60px;
}

.logodetail {
  width: 20%;
}

.company-name {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 14px;
  font-weight: 500;
}
.code {
  color: #999;
  font-size: 10px;
}
.company-logo {
  width: 24px;
  height: 24px;
}
.journey-info {
  display: flex;
  margin-top: 7px;
  gap: 32px;
}
.time-info {
  display: flex;
  flex-direction: column;
  color: #999;
  font-size: 10px;
}
.duration {
  margin: 19px 0;
}
.location-info {
  flex-grow: 1;
}
.route-icons {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.route-icon {
  width: 24px;
  height: 24px;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
@media (max-width: 991px) {
  .transportation-card {
    width: 100%;
    margin-top: 38px;
  }
}
