.searchResults {
    max-width: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 45px 0 45px 65px;
}

@media (max-width: 991px) {
    .searchResults {
        padding-left: 20px;
    }
}

.resultsContainer {
    display: flex;
    width: 100%;
    max-width: 1119px;
    gap: 40px 100px;
    flex-wrap: wrap;
    margin-top: 13px;
}

@media (max-width: 991px) {
    .resultsContainer {
        max-width: 100%;
    }
}

.filterSidebar {
    flex-grow: 1;
    flex-basis: auto;
}

@media (max-width: 991px) {
    .filterSidebar {
        max-width: 100%;
    }
}

.priceRangeImage {
    aspect-ratio: 1.86;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.sidebarHeading {
    color: #000;
    text-align: center;
    margin-top: 18px;
    font: 700 14px/22px Roboto, sans-serif;
}

.priceRange {
    display: flex;
    width: 94px;
    flex-direction: column;
    color: #757575;
    white-space: nowrap;
    font: 600 13px Inter, sans-serif;
}

@media (max-width: 991px) {
    .priceRange {
        white-space: initial;
    }
}

.priceRangeDot {
    background-color: #757575;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 14px;
}

.priceLimit {
    display: flex;
    gap: 10px;
    font-weight: 400;
}

.minPrice,
.maxPrice {
    color: #757575;
    font: 13px Inter, sans-serif;
}

@media (max-width: 991px) {
    .minPrice {
        margin-left: 10px;
    }
}

.sidebarSubheading {
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    margin-top: 12px;
}

.amenitiesList,
.requirementsList,
.accommodationTypeList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    color: #818181;
    text-align: center;
    line-height: 14px;
    padding: 0 29px 0 14px;
}

@media (max-width: 991px) {

    .amenitiesList,
    .requirementsList,
    .accommodationTypeList {
        padding-right: 20px;
    }
}

.amenitiesList li,
.requirementsList li,
.accommodationTypeList li {
    display: flex;
    gap: 7px;
    margin-top: 4px;
}

.amenitiesList img,
.requirementsList img,
.accommodationTypeList img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
}

.resultsContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .resultsContent {
        width: 100%;
    }
}

.pagination {
    border-radius: 100px;
    background-color: #dbdbdb;
    align-self: start;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    padding: 7px 1px 819px;
}

@media (max-width: 991px) {
    .pagination {
        padding-bottom: 100px;
    }
}

.paginationTrack {
    border-radius: 100px;
    background-color: #a5a3a3;
    height: 58px;
}