.flex-container-room-card {
  width: 100%;
  /* background: linear-gradient(135deg, #8dcfec 100%, #47bbf5 20%, #34b2f2 0%); */
  border-radius: 13px;
}
.card-room-type {
  display: flex;
  align-items: stretch;
  box-shadow: 2px 5px 10px #cacaca !important;
  border-radius: 13px;
  margin-top: 2rem;
}

.book-hotel {
  background-color: #0976cf;
  color: white;
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-room-type > div:nth-child(2) {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-room-type {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 1rem;
}
.custom-img-room-type {
  flex: 1 0 auto;
  max-width: 450px;
  width: 100%;
}

.custom-img-room-type img {
  width: 100%;
  height: 100;
  object-fit: cover;
  border-radius: 13px 0 0 13px;
}
.bg-room-description {
  padding: 10px; 
  border-radius: 13px; 
  background-color: #8dcdfc;
  flex-grow: 1;
}

@media screen and (max-width: 960px) {
  .card-room-type {
    flex-direction: column;
  }

  .custom-img-room-type {
    max-width: 100%;
  }

  .custom-img-room-type img {
    border-radius: 13px 13px 0 0;
  }

  .price-room-type {
    align-items: center;
    width: 100%;
  }
}
.bg-room-description {
  margin: 5px;
  border-radius: 13px;
  background-color: #8dcdfc;
  height: 100%;
  display: flex;
}
