.flex-container-room-card {
  width: 100%;
  border-radius: 13px;
}

.card-room-type {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  margin-top: 2rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card-room-type:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.custom-img-room-type {
  flex: 0 0 450px;
  max-width: 450px;
  position: relative;
  overflow: hidden;
}

.custom-img-room-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px 0 0 13px;
  transition: transform 0.3s ease;
}

.custom-img-room-type img:hover {
  transform: scale(1.05);
}

.bg-room-description {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: auto;
  align-self: flex-start;
}

.bg-room-description span {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.bg-room-description span p {
  margin: 0;
  font-weight: bolder;
}
.detail-price {
  max-width: 350px;
}
.price-room-type {
  flex: 0 0 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
  padding: 1rem;
  background-color: #f8f9fa;
}
.price-room-type > * {
  text-align: right;
  width: 100%;
}

.book-hotel {
  align-self: flex-end;
  margin-top: auto;
}

.book-hotel {
  background-color: #0976cf;
  color: white;
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-hotel:hover {
  background-color: #0a84e9;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.amenities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.amenity-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .card-room-type {
    flex-direction: column;
  }

  .custom-img-room-type {
    max-width: 100%;
    flex: 0 0 auto;
  }

  .custom-img-room-type img {
    border-radius: 13px 13px 0 0;
  }

  .price-room-type {
    width: 100%;
    align-items: center;
  }

  .price-room-type > * {
    text-align: center;
  }
}
.feed-back-hotel-detail {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.amenities.grid-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.amenity-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  background-color: #e1e7ec;
  padding: 5px 8px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.amenity-item svg {
  width: 16px;
  height: 16px;
  color: var(--accent-color);
}
