.booking-hotel-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 47px 80px;
    max-width: 921px;
    margin: 0 auto;
}

.booking-hotel-section-title {
    color: #000;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.booking-hotel-amenities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 991px) {
    .booking-hotel-container {
        padding: 20px;
    }

    .booking-hotel-amenities-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}