.method-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.method-item .active {
    border: 1px solid #1a7cb4;
    box-shadow: 5px 5px 10px rgba(9, 120, 211, 0.5);
    transform: scale(1.05);
}

.method-item .non-active {
    transform: scale(0.9);
}