.travel-plan {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 34px 63px;
}
.travel-details {
  margin-top: 47px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.active {
  transform: scale(1.05);
  opacity: 1; /* Card được click sẽ nổi bật */
}

.inactive {
  opacity: 0.5; /* Các card không được click sẽ mờ đi */
}

@media (max-width: 991px) {
  .travel-plan {
    padding: 0 20px;
  }
  .travel-details {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    margin-top: 40px;
  }
}
