.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #cbcbcb;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px #3281b5;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #3281b5;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}