.search-results-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 25px 80px 335px;
}

@media (max-width: 991px) {
    .search-results-wrapper {
        padding: 0 20px 100px;
    }
}

.main-content {
    border-radius: 20px;
    background-color: #efefee;
    align-self: stretch;
    padding: 87px 29px 49px;
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .main-content {
        flex-direction: column;
        padding: 40px 20px;
    }
}