.bus-result-item-container-wrapper {
    border-radius: 30px;
    background-color: #fffdfd;
    display: flex;
    justify-content: space-between;
    padding: 22px 21px 22px 52px;
    border: 1px solid #cecece;
}

@media (max-width: 991px) {
    .bus-result-item-container-wrapper {
        flex-direction: column;
        padding: 20px;
    }
}

.bus-result-trip-info-container {
    display: flex;
    gap: 9px;
    font-family: Roboto, sans-serif;
}

.bus-result-time-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bus-result-departure-time,
.bus-result-arrival-time {
    color: #000;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
}

.bus-result-company-info-container {
    display: flex;
    gap: 17px;
    margin-top: 10px;
}

.bus-result-company-name {
    color: #1e252b;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.bus-result-rating-container {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    color: #474747;
}

.bus-result-type {
    color: #595959;
    font-size: 12px;
    line-height: 18px;
}

.bus-result-voucher-tag {
    border-radius: 100px;
    background-color: rgba(255, 102, 19, 0.21);
    color: #ff6613;
    font-size: 12px;
    padding: 4px 15px;
    border: 1px solid #ff6613;
    margin-top: 5px;
}

.bus-result-trip-duration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #595959;
    width: 74px;
    margin-top: -auto;
}

.bus-result-booking-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bus-result-price-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bus-result-price {
    color: #ff3b00;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
}

.bus-result-seats-available {
    color: #474747;
    font-size: 12px;
    line-height: 18px;
}

.bus-result-select-seat-button {
    background-color: #fffbfb;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    border: 2px solid #757575;
    margin-top: 10px;
    cursor: pointer;
}

.bus-result-book-button {
    border-radius: 10px;
    background-color: #0976cf;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 41px;
    border: none;
    margin-top: 22px;
    cursor: pointer;
}

.bus-result-select-seat-icon {
    width: 40px;
    height: 40px;
    background-color: #f1eaea;
    /* Màu nền đỏ cho ô tròn */
    border-radius: 50%;
    /* Tạo hình tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}