.login-container .auth-image {
  width: 100%;
  /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần chứa */
  height: 100vh;
  /* Để giữ tỷ lệ khung hình của ảnh */
  margin-right: 24px;
}

.login-container .text-center .login-title {
  font-size: 20px;
  /* Giảm kích thước chữ, có thể điều chỉnh theo ý thích */
  font-weight: bold;
  /* Đậm chữ */
  color: #333;
  /* Màu chữ */
  margin-bottom: 20px;
  /* Khoảng cách phía dưới */

}

.login-container .form-label {
  background-color: #FFFFFF;

}

.login-container.forgot-password .text-body {
  text-decoration: none;
  /* Bỏ dấu gạch chân */
  display: block;
  margin-top: -20px;
  /* Giảm khoảng cách so với ô input mật khẩu */


}

.login-container.auth-action .btn.login-btn {
  background-color: #4285F4;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 381px;
}

.login-container.icon-text1 {
  margin-left: 10px;

}

.login-container.divider {
  display: flex;
  align-items: center;
  width: 100%;
  /* Để đảm bảo divider chiếm hết chiều rộng */
  color: #999999;
  /* Màu chữ */
  margin-left: 10px;
}

.login-container.divider p {
  margin: 10px;
  /* Đảm bảo không có khoảng cách xung quanh chữ */
  font-size: 20px;
  color: #999999;
  /* Màu của chữ */
}

.login-container.divider::before,
.login-container .divider::after {
  content: '';
  width: 100px;
  height: 1px;

  /* Độ cao của đường kẻ */
  background-color: #ddd;
  /* Màu của đường kẻ */
}

/* Nút Đăng Nhập bằng Google */
.login-container.btn.btn-google {
  border: 1px solid #2196F3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  margin-bottom: 10px;
  /* Khoảng cách bên dưới */
  background-color: #FFFFFF;
}

/* Nút Đăng Nhập bằng Facebook */
.login-container .btn.btn-facebook {
  border: 1px solid #2196F3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  background-color: #FFFFFF;
}

/* */
.login-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  /* Đảm bảo form không quá rộng */
  margin: 0 auto;
  /* Căn giữa form */

}

.login-container.input-grup .custom-input {
  position: relative;
  /* Giúp vị trí của label được xác định đúng */

}

.login-container.input-grup .custom-input label {
  position: absolute;
  /* Định vị label */
  top: 2px;
  /* Vị trí từ trên cùng của ô nhập */
  left: 30px;
  /* Điều chỉnh vị trí từ bên trái, tăng lên 15px */
  font-size: 15px;
  /* Kích thước chữ cho label */
  color: #999;
  /* Màu sắc cho label */
  /* Để label không bị ảnh hưởng khi người dùng tương tác */
  transition: 0, 2s ease all;
  /* Hiệu ứng chuyển tiếp khi ô nhập được focus */


}

.login-container .input-grup .custom-input.form-outline .form-control:focus+label,
.login-container .input-grup .custom-input.form-outline .form-control:not(:placeholder-shown)+label {
  top: -20px;
  /* Đưa label lên trên */
  left: 20px;
  /* Giữ nguyên bên trái */
  font-size: 10px;
  /* Kích thước chữ nhỏ hơn */
  color: black;
  /* Màu sắc cho label khi focus */
}

.login-container .input-grup .custom-input .form-control {
  width: 381px;
}