/* Container wrapping the entire sign-in form */
.signInFormMainContainer {
    display: flex;
    background-image: url("../../../assets/pexels-anhtuan-26574977.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Inner container for form layout */
.signInFormContentContainer {
    position: relative;
    background-color: rgba(247, 211, 211, 0.411);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 60px;
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Form title */
.signInFormTitle {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 30px;
}

/* Separator line for visual spacing */
.signInSeparator {
    background-color: #bdc3c7;
    height: 4px;
    border: none;
    margin: 5px 0;
}

/* Brand name text */
.signInBrandName {
    position: absolute;
    top: 39%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 150px;
    font-weight: bold;
    color: #FFF;
    text-align: right;
}

/* Input field and button customization */
.customInputField {
    font-size: 1.2rem;
    padding: 12px;
    margin: 10px 0;
}

.customButton {
    width: 100%;
    font-size: 25px !important;
    height: 55px;
    font-weight: 600 !important;
    background-color: transparent !important;
    border: 2px solid #27648c !important;
    box-shadow: none !important;
    text-transform: capitalize !important;
    color: white !important;
    border-radius: 4px;
}

.customButton:hover {
    background-color: #27648c !important;
    border: none !important;
    color: white !important;
}