.enterprise-vehicle-container {
  margin: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: max-content;
}

.enterprise-vehicle-container .content .nav-filter {
  display: flex;
  justify-content: space-between;
}

.enterprise-vehicle-container .content .nav-filter .filter-vehicle {
  display: flex;
  gap: 20px;
}

.enterprise-vehicle-container .content .nav-filter .filter-vehicle button {
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  color: #adadad;
  font-size: 16px;
  cursor: pointer;
}

.enterprise-vehicle-container .content .nav-filter .nav-add-vehicle {
  display: flex;
  gap: 20px;
}

.enterprise-vehicle-container .content .nav-filter .nav-add-vehicle button {
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(50, 129, 181);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enterprise-vehicle-container .content .nav-filter .filter-vehicle button.isActive {
  background-color: rgb(237, 248, 255);
  color: rgb(65, 165, 232);
  border-color: rgb(132, 205, 255);
}

.enterprise-vehicle-container .content .nav-filter .nav-add-vehicle button:hover {
  background-color: rgb(39, 100, 140);
}

.enterprise-vehicle-container .content .nav-filter .nav-add-vehicle select {
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  color: #adadad;
  font-size: 16px;
  cursor: pointer;
}

.enterprise-vehicle-container .modal3-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.enterprise-vehicle-container .modal-dialog {
  max-width: 40%;
  max-height: 40%;
}

.enterprise-vehicle-container .footer-btn {
  background-color: dodgerblue;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 800px;
  height: 50px;
}

.add-vehicle-enterprise-custom .modal-body .row-modal-body {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.add-vehicle-enterprise-custom .modal-body {
  padding-top: 0;
}