.fgp-container .auth-image {
  width: 100%;
  /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần chứa */
  height: 100vh;
  /* Để giữ tỷ lệ khung hình của ảnh */
  margin-right: 24px;
}

.fgp-container .fgp-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fgp-container .register-forgot-password .register-text-body {
  text-decoration: none;
  /* Bỏ dấu gạch chân */
  display: block;
  margin-top: -20px;
  /* Giảm khoảng cách so với ô input mật khẩu */
  color: #333;
}

.fgp-container .auth-action .btn.fgp-btn {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 100%;
}

.fgp-container .icon-text1 {
  margin-left: 10px;
  color: #2196f3;
}

.fgp-container .divider {
  display: flex;
  align-items: center;
  width: 100%;
  /* Để đảm bảo divider chiếm hết chiều rộng */
  color: #999999;
  /* Màu chữ */
  margin-left: 10px;
}

.fgp-container .divider p {
  margin: 10px;
  /* Đảm bảo không có khoảng cách xung quanh chữ */
  font-size: 20px;
  color: #999999;
  /* Màu của chữ */
}

.fgp-container .divider::before,
.fgp-container .divider::after {
  content: "";
  width: 100px;
  height: 1px;

  /* Độ cao của đường kẻ */
  background-color: #ddd;
  /* Màu của đường kẻ */
}

/* Nút Đăng Nhập bằng Google */
.fgp-container .btn.btn-google {
  border: 1px solid #2196f3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  margin-bottom: 10px;
  /* Khoảng cách bên dưới */
  background-color: #ffffff;
}

/* Nút Đăng Nhập bằng Facebook */
.fgp-container .btn.btn-facebook {
  border: 1px solid #2196f3;
  /* Đường viền xanh của Facebook luôn hiển thị */
  width: 312px;
  /* Chiều rộng nút */
  height: 50px;
  padding: 10px;
  /* Padding bên trong nút */
  font-weight: bold;
  /* Chữ đậm */
  background-color: #ffffff;
}

/* */
.fgp-container .fgp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  /* Đảm bảo form không quá rộng */
  margin: 0 auto;
  /* Căn giữa form */
}

.modal-profile-custom .modal-content .modal-footer .custom-button-verified-Fp {
    background-color: #4285f4;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
}

.modal-profile-custom .modal-content .modal-footer .custom-button-verified-Fp:hover {
    background-color: #2196f3;
    
}
